body {
    font-size: 16px;
}

.App-logo {
  height: 40vmin;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

code {
  color: #09d3ac;
}

.App-link {
  color: #09d3ac;
}

.navbar ul {
    list-style: none;
    color: #09d3ac;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #09d3ac;
  }
  
  .navbar > ul > li {
    display: inline;
    padding: 5px;
  }

.navbar > ul > li > a:visited {
  color: #09d3ac;
  font-weight: 200;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #90cfc3;
  font-weight: bold;
}